<div class="banner" style="background-image: url('../images/movies.jpg');">
  <div class="container m-1">
    <h1> Always know which <strong>movie to watch next !</h1>
    <p> No more scrolling through endless lists. Save, organize and review all your favourite movies </p>
    <a class="btn btn-flat" href="#">Get started</a>
  </div>
</div>
